<%- include('partials/header'); -%>
    <body>
        <nav id="mainNavbar" class="navbar navbar-dark navbar-expand-md py-0 fixed-top ">
            <a class="navbar-brand text-dark"  href="#">
               Library Management System | Welcome | CS331 Project
            </a>
           
            </button>
        </nav>
    <br><br>
        <div class="container my-5" data-aos="fade-left" data-aos-duration="2000">
            <div class="jumbotron bg-cover text-white"  style="background-image: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.6) 100%), url(https://images.unsplash.com/photo-1535905496755-26ae35d0ae54?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80)">
                <h1 class="display-4">Welcome To<br> <strong> Library Management System</strong></h1>
                    <br><p class="lead text-center ">One Stop Solution for your management needs </p>
                          <hr class="my-4">
                
                          <%- include('partials/alerts'); -%> 
                          <div class="row mt-3" data-aos-delay="800" data-aos-duration="1500" data-aos-easing="ease-in-out"  data-aos="zoom-in">
                              <div class="col-md-5 mx-auto text-center p-4">
                                  <div class="mt-3">
                                      <a href="/auth/admin-login" class="btn btn-block  btn-lg btn-light">Admin Login</a>
                                  </div>
                                  
                                   <div class="mt-3">
                                      <a href="/auth/user-login" class="btn btn-block  btn-lg btn-secondary">User Login</a>
                                  </div>
                                  
                                   <div class="mt-3">
                                      <a href="/auth/user-signup" class="btn btn-block btn-lg btn-dark">User Sign Up</a>
                                  </div>
                                  
                                  <div class="mt-3">
                                      <a href="/books/all/all/1" class="btn btn-block btn-lg btn-warning">Browse Books</a>
                                  </div>
                              </div>
                          </div>

                </div>
            
            
        </div>
       
   <br>
<%- include('partials/footer'); -%>